flask
flask-cors
transformers @ git+https://github.com/huggingface/transformers
bitsandbytes
accelerate
timm==0.4.12 
pycocoevalcap
fairscale==0.4.4
torch
accelerate
diffusers @ git+ssh://git@github.com/huggingface/diffusers